<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Trending Careers-Find your dream job easily.</title>
  <link rel="stylesheet" href="static/style.css" />
  <script defer src="static/script.js"></script>
</head>
<body>

{% include 'header.html' %}
  <main class="hero">
    <div class="hero-text">
      <h2 class="fade-in">Find the<br><span>most exciting</span><br>startup jobs</h2>
      <div class="search-box slide-up">
        <form method="POST" action="/find_jobs">

        <input type="text" name="jobTitle" placeholder="Job Title or keyword" />
        <input type="text" name="location" placeholder="Location" />
        <button class="find btn-fill-hover" type="submit">Find Job</button>
        </form>
        
      </div>
    </div>
    <div class="hero-image zoom-in">
      <img src="/static/nabina.png" alt="Professional Person" />
    </div>
  </main>

<div class="jobss">
  <h2 style="transform: scale(1.5);">Trending Jobs</h2>
{% include 'jobs-card.html' %}

</div>

</body>
</html>
